<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Enviar parametros del HTTP GET</title>
</head>
<body>
  <h1>Enviar parametros del HTTP GET</h1>
  <ul>
    <li>
      <a th:href="@{/params/string(texto='Hola Nahuel')}">/params/string?texto=Hola Nahuel</a>
    </li>
    <li>
      <a th:href="@{/params/string(texto='Que tal John')}">/params/string?texto=Que tal john</a>
    </li>
    <li>
      <a th:href="@{/params/mix-params(saludo='Que tal John', numero=2343)}">/params/mix-params?saludo=Que tal john && 2343</a>
    </li>
    <li>
      <a th:href="@{/params/httprequest(saludo='Que tal John', numero=0)}">/params/httprequest?saludo=Que tal john && 2343</a>
    </li>
  </ul>
</body>
</html>