<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recibir parametros del HTTP GET</title>
</head>
<body>
    <h1>Recibir parametros del HTTP GET</h1>
    <div th:text="${parametro}"></div>
</body>
</html>