<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <ul>
        <!-- Los primeros + dan un falso error -->
        <li>
            <a th:href="@{/variables/string/} + 'Hola Andres'">/variables/string/Hola Andres</a>
        </li>
        <li>
            <a th:href="@{/variables/string/} + 'Que tal John'">/variables/string/Que tal John</a>
        </li>
        <li>
            <a th:href="@{/variables/string/} + ${nombre} + '/' + 7">/variables/string/Hola Nahuel/7</a>
        </li>
    </ul>
</body>
</html>