<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <h3 th:text="${factura.descripcion}"></h3>
<!-- Vamos a utilizar th:utext en vez de th:text para poder pintar en la vista los acentos mediante html (&aacute;) -->
    <div>Cliente: <span th:utext="${factura.cliente.nombre + ' ' + factura.cliente.apellido}"></span></div>
    <h4>Detalle de la factura</h4>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item: ${factura.items}">
                <td th:text="${item.producto.nombre}"></td>
                <td th:text="${item.producto.precio}"></td>
                <td th:text="${item.cantidad}"></td>
                <td th:text="${item.producto.precio * item.cantidad}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>