<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/> <!-- Cerramos la etiqueta porque puede causar errores con alugnas dependencias -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title th:text="${titulo}"></title>
</head>
<body>
  <h1 class="color-rojo" th:text="${titulo}"></h1>
  <h2 class="color-azul">Decorando con estilos css recursos estaticos</h2>
  <img th:src="@{/img/img.png}" alt="Imagen de paisaje">
</body>
</html>