<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/> <!-- Cerramos la etiqueta porque puede causar errores con alugnas dependencias -->
    <title th:text="${titulo}"></title>
</head>
<body>
  <h1 th:text="${titulo}"></h1>

  <div th:if="${usuarios.isEmpty()}">No hay usuarios en la lista!</div>

<table th:if="${not usuarios.isEmpty()}">
    <thead>
    <tr>Nombre</tr>
    <tr>Apellido</tr>
    <tr>Email</tr>
    </thead>
    <tbody>
        <tr th:each="usuario: ${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.apellido}"></td>
        <td th:text="${usuario.email}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>