<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/> <!-- Cerramos la etiqueta porque puede causar errores con alugnas dependencias -->
    <title th:text="${titulo}"></title>
</head>
<body>
  <h1 th:text="${titulo}"></h1>
  <span th:text="${usuario.nombre}"></span> <!-- usuario.nombre es como si invocasemos usuario.getNomre() ya que es lo que por debajo se ejecuta -->
  <span th:text="${usuario.apellido}"></span>
  <br>
  <span th:if="${usuario.email}" th:text="${usuario.email}"></span> <!-- Esta etiqueta se va a mostrar en caso de que el usuario tenga un email -->
  <span th:if="${usuario.email == null}">Correo despejado</span> <!-- Esta etiqueta se va a mostrar en caso de que el usuario no tenga un email -->
</body>
</html>